#A
asgiref==3.7.2
#B
# backports.zoneinfo==0.2.1
#C
celery
#D
Django==4.0
django-cors-headers==4.1.0
django-debug-toolbar==4.1.0
django-filter==21.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.2
drf-nested-routers==0.93.4
django-celery-results # see celery results in django admin
django-extensions # for visual representation of model
drf-yasg #swagger for interactive documentation
debugpy
#P
psycopg2-binary==2.9.2
PyJWT==2.7.0
pytz==2023.3

python-dotenv #to read values from .env files
# pygraphviz #for django-extensions (if it fails do brew install graphviz before pip install)
pytube #download youtube videos
# R
requests
#S
sqlparse==0.4.4
sqlalchemy # to support postgres as results backend for celery
#T
typing_extensions==4.7.1
